.header {
  display: flex;
  min-height: 50px;
  background-color: rgba(247, 198, 106);
  box-shadow: 0rem 0.5rem 1.2rem rgba(22, 22, 22, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  right:0;
  text-align: center;
  height: 4rem;
}



.info-container{
  width: 95vw;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
